.SectionInfo {
    position: relative;
    display: block;
    max-width: 350px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 1px;

    & .InfoBox {
        margin-bottom: 40px;
    }
    
    @media only screen and (min-width: 576px) {
        & .InfoBox {
            margin: inherit;
        } 
    
        & {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            max-width: 1024px;
        }
    }
    
    @media only screen and (min-width: 768px) {
        & {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media only screen and (min-width: 1024px) {
        & {
            gap: 30px;
            padding: 0;
        }
    }
}
