.SectionLastYear {
    clear: both;
    overflow: hidden;
    padding: 70px 0;
    background: #efefef;
    
    &-Inner {
        max-width: 1280px;
        margin: 0 auto;
    }

    &-Title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 100px;
    }

    &-Text {
        width: 50%;
        float: left;
        padding-right: 150px;
        margin-top: 70px;
    }

    &-Figure {
        width: 50%;
        float: left;
        height: 350px;
    }

    &-Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
